node_modules/
.next/
.pnpm-store/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.rar
error
admin-orders-backup.txt
project-tree.txt
tsconfig.tsbuildinfo
README.txt
index.html
script.js
style.css
style-backup.css

src/app/admin/products/page.tsx.backup
src/app/api/orders/route.ts.backup

.env.local-backup
local-database-backup.dump
